QUE 1 
Write a list comprehension to generate squares of numbers from 1 to 10.

In [5]:
L1 = [n*n for n in range(1,10)]
print(L1)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

2. Create a list of even numbers between 1 and 50 using list comprehension.

In [7]:
l2 = [n for n in range(1,50) if n % 2 == 0]
print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

3. Convert all strings in a list to uppercase using list comprehension.

In [9]:
str_list = ['hello','welcome','to','bizmetric']
upp_list = [n.upper() for n in str_list ]
print(upp_list)

['HELLO', 'WELCOME', 'TO', 'BIZMETRIC']

4. Given a list of integers, create a new list that contains only the positive 
numbers.

In [1]:
numbers = [-10, 5, 0, -3, 8, -1, 12]
positive_numbers = [n for n in numbers if n > 0]
print(positive_numbers)

[5, 8, 12]

5. Create a list of tuples (num, num^2) for numbers 1 to 5.

In [1]:
res = [(num, num**2) for num in range(1, 6)]
print(res)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

6. Extract all vowels from a given string using list comprehension.

In [2]:
text = "Hello World"
vowels = [ch for ch in text if ch.lower() in 'aeiou']
print(vowels)

['e', 'o', 'o']

7. Flatten a 2D list using list comprehension.

In [3]:
l1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
l2 = [item for row in l1 for item in row]
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

8. Replace all negative numbers in a list with 0 using list comprehension.

In [4]:
l1 = [5, -3, 7, -1, 0, -8, 4]
l2 = [num if num >= 0 else 0 for num in l1]
print(l2)

[5, 0, 7, 0, 0, 0, 4]

9. Given a list of words, create a list of lengths of each word.

In [5]:
l1 = ["python", "data", "analysis", "code"]
l2 = [len(n1) for n1 in l1]
print(l2)

[6, 4, 8, 4]

10. Filter out words that start with the letter 'A' or 'a'.

In [7]:
l1 = ["Apple", "banana", "Avocado", "grape", "apricot", "Mango"]

l2 = [n1 for n1 in l1 if not n1.lower().startswith('a')]
print(l2)

['banana', 'grape', 'Mango']

11. From a list of numbers, generate a list of “even” or “odd” strings using 
list comprehension. 
(Like → [“even”, “odd”, “odd”, “even”…])

In [8]:
l1 = [10, 7, 5, 8, 3, 12]

l2 = ["even" if n1 % 2 == 0 else "odd" for n1 in l1]
print(l2)

['even', 'odd', 'odd', 'even', 'odd', 'even']

12. Create a list of numbers divisible by both 3 and 5 in range 1–100.

In [ ]:
l1 = [n1 for n1 in range(1, 101) if n1 % 3 == 0 and n1 % 5 == 0]
print(l1)

[15, 30, 45, 60, 75, 90]

13. Write a nested list comprehension to generate a multiplication table 
for 1–5.

In [10]:
l1 = [[n1 * num for num in range(1, 6)] for n1 in range(1, 6)]
for row in l1:
    print(row)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]
[3, 6, 9, 12, 15]
[4, 8, 12, 16, 20]
[5, 10, 15, 20, 25]

14. Convert a dictionary’s keys into a list using list comprehension.

In [11]:
d1 = {"name": "Vishal", "age": 23, "city": "Pune"}
l1 = [n1 for n1 in d1]
print(l1)

['name', 'age', 'city']

15. Extract numeric digits from a string using list comprehension.

In [12]:
str1 = "abc123de45f6"

l2 = [n1 for n1 in str1 if n1.isdigit()]

print(l2)

['1', '2', '3', '4', '5', '6']

16. Use list comprehension to remove all spaces from a string.

In [ ]:
s1 = "Python is very easy"
str1 = "".join([n1 for n1 in s1 if n1 != " "])
print(str1)

Pythonisveryeasy

17. Create a list of characters that appear more than once in a string.

In [14]:
s1 = "programming"
l1 = [n1 for n1 in s1 if s1.count(n1) > 1]
print(l1)

['r', 'g', 'r', 'm', 'm', 'g']

18. From a list of sentences, generate a list of all words (split using list 
comprehension).

In [15]:
l1 = [
    "Python is easy",
    "List is powerful",
    "Practice makes perfect"
]

l2 = [n1 for s1 in l1 for n1 in s1.split()]

print(l2)

['Python', 'is', 'easy', 'List', 'is', 'powerful', 'Practice', 'makes', 'perfect']

19. Create a list of unique elements from a list using list comprehension + 
condition.

In [16]:
l1 = [1, 2, 3, 2, 4, 1, 5, 3]

l2 = [n1 for i, n1 in enumerate(l1) if n1 not in l1[:i]]

print(l2)

[1, 2, 3, 4, 5]

20. Generate all pairs (x, y) where x is from list A and y is from list B 
(cartesian product).

In [17]:
l1 = [1, 2, 3]   
l2 = ['a', 'b']  

l3 = [(n1, num) for n1 in l1 for num in l2]

print(l3)

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]

## **Lambda functions**

1. Write a lambda to add two numbers.

In [18]:
add = lambda n1, n2: n1 + n2
print(add(5, 3))

8

2. Create a lambda to check if a number is even.

In [19]:

is_even = lambda n1: "Even" if n1 % 2 == 0 else "Odd"

print(is_even(10))
print(is_even(7))

Even
Odd

3. Write a lambda to get the last character of a string.

In [20]:
last_char = lambda s1: s1[-1]
print(last_char("Python"))

n

4. Use lambda with map() to square every number in a list.

In [21]:
l1 = [1, 2, 3, 4, 5]
l2 = list(map(lambda n1: n1 ** 2, l1))
print(l2)

[1, 4, 9, 16, 25]

5. Use lambda with filter() to get only odd numbers from a list.

In [22]:
l1 = [1, 2, 3, 4, 5, 6, 7]
l2 = list(filter(lambda n1: n1 % 2 != 0, l1))
print(l2)

[1, 3, 5, 7]

6. Use sorted() + lambda to sort a list of tuples by second value.

In [23]:
l1 = [(1, 3), (4, 1), (2, 5), (6, 2)]
l2 = sorted(l1, key=lambda n1: n1[1])
print(l2)

[(4, 1), (6, 2), (1, 3), (2, 5)]

7. Create a lambda to check if a string is a palindrome.

In [24]:
is_palindrome = lambda s1: s1 == s1[::-1]

print(is_palindrome("madam"))
print(is_palindrome("python"))

True
False

8. Use lambda to find maximum of three numbers.

In [25]:
max = lambda n1, n2, n3: n1 if n1 >= n2 and n1 >= n3 else (n2 if n2 >= n3 else n3)

print(max(10, 25, 15))

25

9. Write a lambda to reverse a string.

In [26]:
reverse_str = lambda s1: s1[::-1]
print(reverse_str("Python"))

nohtyP

10. Use lambda with map() to convert a list of strings to integers.

In [27]:
l1 = ["1", "2", "3", "4", "5"]

l2 = list(map(lambda n1: int(n1), l1))

print(l2)

[1, 2, 3, 4, 5]

11. Use lambda with filter() to remove empty strings from a list.

In [28]:
l1 = ["Python", "", "Lambda", "", "Functions", ""]

l2 = list(filter(lambda n1: n1 != "", l1))

print(l2)

['Python', 'Lambda', 'Functions']

12. Use lambda to compute factorial using reduce() (yeah, that one-liner 
madness).

In [29]:
from functools import reduce

fact = lambda n1: reduce(lambda x, y: x * y, range(1, n1 + 1))

print(fact(5))

120

13. Write a lambda that returns the larger of two numbers.

In [30]:
larger = lambda n1, n2: n1 if n1 > n2 else n2

print(larger(10, 25))

25

14. Use lambda to check if number is divisible by 5.

In [31]:
div_by_5 = lambda n1: n1 % 5 == 0

print(div_by_5(25))
print(div_by_5(13))

True
False

15. Use lambda + map() to add 10 to each element of a list.

In [32]:
l1 = [5, 10, 15, 20]

l2 = list(map(lambda n1: n1 + 10, l1))

print(l2)

[15, 20, 25, 30]

16. Use lambda to sort a list of dictionaries by a key (like "age").

In [33]:
l1 = [
    {"name": "Amit", "age": 30},
    {"name": "Vishal", "age": 23},
    {"name": "Neha", "age": 27}
]

l2 = sorted(l1, key=lambda n1: n1["age"])

print(l2)

[{'name': 'Vishal', 'age': 23}, {'name': 'Neha', 'age': 27}, {'name': 'Amit', 'age': 30}]

17. Write a lambda that returns True if a character is a vowel.

In [34]:
is_vowel = lambda n1: n1.lower() in "aeiou"

print(is_vowel("a"))
print(is_vowel("B"))

True
False

18. Use lambda + filter to extract words of length > 5 from a list.

In [35]:
l1 = ["python", "data", "analysis", "lambda", "filter", "map"]

l2 = list(filter(lambda n1: len(n1) > 5, l1))

print(l2)

['python', 'analysis', 'lambda', 'filter']

19. Use lambda to calculate the area of a circle (πr²).

In [36]:

area = lambda r1: 3.14 * r1 ** 2
print(area(5))

78.5

20. Write a lambda to remove duplicates from a list using filter + set.

21. Use lambda with reduce() to find the product of all numbers in a list.

22. Write a lambda that returns absolute value of a number.

In [37]:
abs_val = lambda n1: n1 if n1 >= 0 else -n1
print(abs_val(10))
print(abs_val(-7))

10
7

23. Use lambda to sort a list of strings by their length.

In [38]:
l1 = ["python", "ai", "machine", "data", "analysis"]

l2 = sorted(l1, key=lambda n1: len(n1))

print(l2)

['ai', 'data', 'python', 'machine', 'analysis']

24. Use lambda to get only uppercase characters from a string.

In [39]:
s1 = "PyTHon EasY"

l1 = list(filter(lambda n1: n1.isupper(), s1))

print(l1)

['P', 'T', 'H', 'E', 'Y']

25. Write a lambda that returns the square if number is even, cube if odd.

In [40]:
calc = lambda n1: n1**2 if n1 % 2 == 0 else n1**3

print(calc(4))   # even → square
print(calc(3))   # odd → cube

16
27

26

27. Write a lambda to check if two strings are anagrams.

In [41]:
is_anagram = lambda s1, s2: sorted(s1.lower()) == sorted(s2.lower())

print(is_anagram("listen", "silent"))
print(is_anagram("python", "java"))

True
False

28. Use lambda to extract only numeric values from a mixed list.

In [42]:
l1 = [10, "20", 3.5, "python", 7, None, 2+3j]

l2 = list(filter(lambda n1: isinstance(n1, (int, float)), l1))

print(l2)

[10, 3.5, 7]

29. Use lambda inside any() to check if any list element is negative.

30. Use lambda to generate a function that multiplies any number by n

In [43]:
multi = lambda n1: (lambda n2: n2 * n1)

a = multi(5)
b = multi(10)

print(a(4))
print(b(3))

20
30